.finger{
    position: relative;
    top: -130px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0) !important;
    animation: fingerAnimation 2s ease-in-out alternate 4 ;
}

@keyframes fingerAnimation {


    0%{
        transform: translateX(-5%);
    }

    100%{
        transform: translateX(-110%);

    }
}

@media (min-width:800px) {
     .finger{
         display: none;
     }
}