.container{
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.banner{
    background: url(../../img/sapatos-banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% ;
    height: 500px;
    //margin:0 20px;
}

.box2{
    max-width: 1000px;
    margin:0 auto 70px auto;
    text-align: center;
    div{
        display: flex;
        justify-content: center;

        p{
            margin: 20px;

        }
    }
}

.finger_center{
    display: flex;
    justify-content: center;
    animation:0.3s invisivle  linear forwards;
    animation-delay: 4.5s;
}


@keyframes invisivle {
    to {
        transform: scale(0);
        transform-origin: center top;
    }

}
@media (min-width:800px) {
    .box2{
        margin:70px auto 70px auto; 
    }
}
@media (max-width:950px) {
    .banner{
        height: 350px;
    }
}

@media (max-width:670px) {
    .banner{
        background: url(../../img/01-banner-sapato.webp);
        background-repeat: no-repeat;        
        background-size: cover;
        background-repeat: no-repeat;
        width: 100% ;
        height: 60vh;

    }
}