.container{
    max-width: 1900px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.banner{
    background: url(../../img/7-mod10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;

    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}
.box2{
    border: solid 1.5px var(--marrom);
    padding: 35px;
    border-radius: 10px;
    max-width: 1000px;
    margin:-30px auto 70px auto;
    text-align: center;
    div{
        display: flex;
        justify-content: center;

        p{
            margin: 20px;

        }
    }
}

.finger_center{
    display: flex;
    justify-content: flex-end;
    animation:0.1s invisivle  linear forwards;
    animation-delay: 5.5s;
}


@keyframes invisivle {
    to {
        transform: scale(0);
        transform-origin: center top;
    }

}


@media (min-width:800px) {
    .box2{
        margin:70px auto 70px auto; 
    }
}
@media (min-width:1500px) {
    .banner{
        height: 720px !important;
    }
}
@media (min-width:950px) {
    .banner{
        height: 550px;
    }
}
@media (max-width:950px) {
    .banner{
        height: 350px;
    }
}

@media (max-width:670px) {
    .banner{
        background: url(../../img/15.jpg);
        background-repeat: no-repeat;   
        background-position: bottom;     
        background-size: cover;
        max-width: 680px;
        height: 55vh;
    }
}