.container{
    display: flex;
    justify-content: center;
    background-color: var(--marron);
    border-radius: 0 0 5px 5px;
}
.items div{
    padding: 10px 5px;
    text-align: center;
    //min-width: 250px;
    scroll-snap-align: start;
    margin: 10px;
}

.items{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: none;
    scroll-snap-type: x mandatory;
    color: #fff;

    
    img{
        width: 100px;
        height: 100px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        border-radius: 5px;
        //margin-left: 20px;
    }
}


.item{
    //text-align: center;
    display: flex;
   // flex-direction: column;
    align-items: center;
//    justify-content:center ;
    height: 150px;
    min-width: 350px;
    background-color: #ffffff1d;
    border: solid 1px;
    border-radius: 10px;
}





@media (min-width:950px) {
    .responsive{
        display: flex;
    }
}



